resources-relationnelles.test {
    tls /etc/caddy/certs/resources-relationnelles.test.pem /etc/caddy/certs/resources-relationnelles.test-key.pem

    root * /var/www/html/public

    encode gzip

    php_fastcgi php:9000

    file_server
}
